<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edp.davinci.dao.CollectPaperTopicAnswerMapper">
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into collect_paper_topic_answer
        (`submit_id`, `field_name`, `answer`)
        VALUES
        <foreach collection="list" item="record" index="index" separator=",">
            (
            #{record.submitId,jdbcType=BIGINT},
            #{record.fieldName,jdbcType=VARCHAR},
            #{record.answer,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="getBySubmitId" resultType="edp.davinci.model.CollectPaperTopicAnswer">
        select * from collect_paper_topic_answer
        where `submit_id` in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>