<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<context:annotation-config />

	<bean class="com.iflytek.edu.elp.common.util.SpringContextUtil" />
	<context:component-scan base-package="com.iflytek.edu.**.service.impl" />

	<!-- 批量下载最大数量限制 -->
	<bean id="batchDownloadSize" class="java.lang.Integer">
		<constructor-arg>
			<value>1000</value>
		</constructor-arg>
	</bean>

</beans>
